/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    overflow-x: hidden;
    /* Allows scrolling */
}

input:focus,
select:focus,
textarea:focus {
    outline: none !important;
    border: none !important;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Ensures the video is behind the content */
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the full screen */
    position: fixed;
    top: 0;
    left: 0;
}


/* Content Wrapper for the page */
.content-wrapper {
    position: relative;
    z-index: 1;
    padding: 0;
    /* Remove margins */
    text-align: center;
    color: #fff;
    height: auto;
    /* Allows scrolling content */
}

/* Header Section */
header {
    padding: 5px;
    background-color: rgba(9, 23, 52, 0.8);
    /* Transparent background with primary color */
}

header .header-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header .header-content p {
    font-size: 1.2rem;
}

/* Review Form Section */
.review-section {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.review-form label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #333;
}

.review-form input,
.review-form select,
.review-form textarea {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}



.review-form button {
    background-color: #ff9a68;
    /* Primary color */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.review-form button:hover {
    background-color: #e0844f;
    /* Darker shade on hover */
}

/* Social Media Section */
.social-media {
    margin-top: 40px;
}

.social-media p {
    font-size: 1.2rem;
    color: #ffffff;
}

.social-icon {
    font-size: 2rem;
    margin: 0 15px;
    color: #ffffff;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #ff9a68;
    /* Primary color on hover */
    transform: scale(1.2);
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}